div.changepage:hover {
  background-color: rgba(0,0,0,0.25);
  color: black;
}
div.changepage {
  position: fixed;
  background-color: rgba(0,0,0,0);
  color: transparent;
  top: 50%;
  padding: 50px;
  font-size: 32px;
}

@media only screen and (max-device-width: 480px) {
  div.changepage {
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    color: black;
    top: 80%;
    padding: 15px;
    font-size: 16px;
  }
}

td.campaign-hidden {
  display:none;
  padding: 0px;
  margin: 0px;
  font-size: small;
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.campaign-hidden a {
  color: black;
}

td.campaign-hidden a:hover {
  color: black;
  text-decoration: underline;
}

td.campaign {
  padding: 0px;
  margin: 0px;
  font-size: small;
  max-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.campaign a {
  color: black;
}

td.campaign a:hover {
  color: black;
  text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
  td.campaign {
    padding: 8px 0px 8px 0px;
    margin: auto;
    font-size: small;
    max-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

div#month_area {
  text-align: center;
}

div#month_prev {
  left: 0px;
}

div#month_next {
  right: 0px;
}

div#contents {
  margin-bottom: 300px;
}
