doctype html
html 
  head 
    title acc
    include parts/meta.pug
    include parts/link.pug
  body
    include parts/nav.pug
    #modal.modal 
    #contents 
    include parts/script.pug
    script(src="js/main.js")